.section {
  padding: 0 20px 55px 20px;
  user-select: none;
}
.sectionAbout {
  background: #284060;
  padding: 50px 25px;
  text-align: center;
  margin-bottom: 30px;
  box-shadow: 24px 24px 40px 0px rgba(0, 0, 0, .13);
}
.blockquote {
  color: #fff;
  font-size: 20px;
  font-family: 'Playfair Display';
  font-weight: bold;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 25px;
}
.lduo {
  color: #fc842c;
  font-size: 50px;
}
.autor {
  color: #8b92ab;
  font-size: 14px;
  font-family: "Open sans";
  margin-bottom: 45px;
}
.organization {
  font-size: 16px;
  font-family: 'Gotham Pro';
  font-weight: bold;
  color: #fff;
  margin-bottom: 0;
}
.organization span {
  color: #fc842c;
}
.organization a, .organization a:hover {
  text-decoration: none;
  color: #fc842c;
}
.organization a:hover, .organization a:active, .organization a:focus {
  outline: none;
}
.langList {
  display: grid;
  list-style: none;
  padding: 0;
  grid-template-columns: 1fr;
  grid-row-gap: 30px;
}
.loader {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
.error {
  text-align: center;
  color: red;
  font-size: 18px;
}
@media (min-width: 768px) {
  .section {
    padding: 0 35px 60px 35px;
  }
  .sectionAbout {
    margin-bottom: 50px;
  }
  .sectionText {
    width: 460px;
    margin: 0 auto;
  }
  .blockquote {
    font-size: 30px;
    margin-bottom: 35px;
  }
  .lduo {
    font-size: 72px;
  }
  .autor {
    font-size: 16px;
    margin-bottom: 40px;
  }
  .organization {
    font-size: 18px;
  }
  .langList {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 25px;
    grid-column-gap: 20px;
  }
}
@media(min-width: 1280px) {
  .section{
    padding: 0 80px 4vh 80px;
  }
  .sectionAbout {
    padding: 4vh 25px;
    margin-bottom: 4vh;
  }
  .lduo {
    font-size: 50px;
  }
  .blockquote {
    margin-bottom: 3vh;
  }
  .autor {
    margin-bottom: 3vh;
  }
  .langList {
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 25px;
    grid-column-gap: 20px;
  }
  .langList {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 35px;
  }
  .error {
    font-size: 22px;
  }
}

