.container {
  margin: 0 auto;
  width: 280px;
  z-index: 1;
  position: relative;
}
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
  .container {
    width: 700px;
  }
}
