.card {
  position: relative;
  height: 270px;
  text-align: center;
  background: #fff;
}
.link {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  box-shadow: 24px 24px 40px 0px rgba(0, 0, 0, .13);
  transition: all 0.3s ease;
}
.link:hover + .shadow {
  box-shadow: 24px 24px 40px 0px rgba(0, 0, 0, .20);
}
.logo {
  margin: 45px auto 30px auto;
  display: block;
  height: 85px;
  width: auto;
}
.lang {
  font-size: 28px;
  color: #2e3038;
  font-family: 'Gotham Pro';
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
}
.questions {
  font-size: 16px;
  color: #8b92ab;
  font-family: 'Open Sans';
}
.emptyImg {
  margin: 45px auto 30px auto;
  display: block;
  height: 85px;
  width: auto;
}
@media(min-width: 1280px) {
  .card {
    height: unset;
    display: flex;
    justify-content: center;
    padding: 4vh 0;
  }
  .logo {
    margin: 0 auto 3vh auto;
  }
}
