.secondBlock {
  margin: 0 auto;
  margin-top: 1rem;
}
.secondBlockTitle {
  color: #2e3038;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 1.875rem;
  line-height: 2rem;
  margin-bottom: 2.31rem;
}
.secondBlockDescription {
  color: #2e3038;
  text-align: justify;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.65rem;
}
.btnStartTest {
  margin-top: 1.375rem;
  margin-bottom: 2.375rem;
  cursor: pointer;
  outline: 0;
  border: 0;
  background-color: #fc842c;
  padding: 0.625rem 2.5rem;
  border-radius: 1.875rem;
  box-shadow: 1px 4px 13px -2px rgba(252, 132, 44, 1);

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .secondBlock {
    width: 36.0625rem;
    margin-top: 3.5rem;
  }
  .secondBlockDescription {
    margin: 0;
  }
}
@media screen and (min-width: 1280px) {
  .secondBlock {
    margin-top: 1rem;
    text-align: left;
    width: 32.0625rem;
  }
  .secondBlockTitle {
    margin-bottom: 1.8rem;
  }
  /* .btnStartTest{
        margin-top: 2rem;
        margin-bottom: 0;
    } */
}
