.paper {
  background-color: #f2f2f2;
  padding: 15px 10px;
  margin-bottom: 30px;
}
.text {
  font-family: "Gotham Pro", "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  text-align: left;

  -webkit-user-select: none;
  /* user-select -- это нестандартное свойство */

  -moz-user-select: none;
  /* поэтому нужны префиксы */

  -ms-user-select: none;
}

@media screen and (min-width: 768px) {
  .paper {
    padding: 30px;
  }
  .text {
    font-size: 1.875rem;
  }
}
