.textBlock_item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.textBlock_item:last-of-type{
    margin-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
    .textBlock_item span{
        flex-grow: 2;
        border-bottom: 0.0625rem solid #dce0e9;
    }
}