.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px;
}
.a, .a:hover {
  text-decoration: none;
}
.logo {
  width: 88px;
  height: auto;
}
.link, .link:hover, .link:active, .link:focus {
  text-decoration: none;
  color: #8b92ab;
  font-size: 14px;
  text-transform: capitalize;
  outline: none;
  font-family: "Open Sans";
}
@media(min-width: 768px) {
  .nav {
    padding: 25px 35px;
  }
  .logo {
    width: 117px;
  }
}
@media(min-width: 1280px) {
  .nav {
    padding: 2.5vh 60px;
  }
  .logo {
    width: 128px;
  }
}
