.firstBlock{
    background-color: #f2f2f2;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1rem;
}
.firstBlockImage{
    margin-top: 2.625rem;
    margin-bottom: 1rem;
    width: 8.625rem;
    height: 9.4375rem;
}
.firstBlockTextInfo{
    text-align: left;
    width: 14.125rem;
    margin: 0 auto;
}
.btnGoBack{
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: block;
    padding-bottom: 2.7125rem;

    color: #a4aabd;
    text-decoration: none;
    font-family: 'Open Sans';
    font-size: 0.875rem;
    line-height: 1rem;
    font-weight: 400;
}
.btnGoBack::before{
    content: url('../../../assets/icons/baseline-keyboard_return-24px.svg');
    width: 0.9375rem;
    height: 0.5625rem;
    vertical-align: middle;
    padding-right: 0.9rem;
}

@media screen and (min-width: 768px) {
    .firstBlockTextInfo{
        width: 21rem;
    }
    .firstBlockImage{
        width: 7.9375rem;
        height: 9.0625rem;
    }
    .btnGoBack{
        text-align: left;
    }
}
@media screen and (min-width: 1280px){
    .firstBlockImage{
        margin-bottom: 3rem;
    }
    .firstBlock{
        width: 28.4375rem;
    }
}