*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
.languageDescrPageContainer{
    text-align: center;
    margin: 0 auto;
    width: 17.5rem;

    display: flex;
    flex-flow: column;
}
.loader {
    padding-top: 20px;
    display: flex;
    justify-content: center;
  }
@media screen and (min-width: 768px) {
    .languageDescrPageContainer{
        width: 43.4375rem;
    }
}
@media screen and (min-width: 1280px){
    .languageDescrPageContainer{
        width: 68.125rem;
        flex-flow: row;
        justify-content: space-between;
    }
}